table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 16%;
    margin-left: 20%;
    position: absolute;
    border-radius: 3px;
    background-color: white;
}

table, th, td {
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}


thead,#ligne{
    color: white;
    background-color: rgb(63, 82, 252);
}


th, td {
    padding: 10px;
    text-align: left;
}

h1{
    font-size: 40px;
    box-shadow: 3px 3px 15px black;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0.3%;
    margin-top: -15%;
    background-color: rgb(104, 179, 250);
    position: absolute;
    color: white;
}

h2{
    font-size: 40px;
    position: absolute;
    margin-left: 4%;
    margin-top: 7%;
    font-style: oblique;
}

.recherche1{
    position: absolute;
    margin-left: 36%;
    margin-top: -5.5%;
    font-size: 30px;
    font-weight: bold;
    color: black;
}


#recherche1{
    position: absolute;
    margin-left: 48%;
    margin-top: -5%;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    border-radius: 2px;
}

.image4{
    margin-left: 6%;
    margin-top: -1%;
    position: absolute;
    width: 100px;
    height: 100px;
}

.image3{
    margin-left: 3.5%;
    margin-top: -14%;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


#recette{
    position: absolute;
    font-size: 20px;
    background-color: rgb(104, 179, 250);
    color: white;
    padding-left: 22%;
    padding-right: 43.6%;
    margin-left: -13px;
    padding-bottom: 5%;
    padding-top: 3%;
    margin-top: -7px;
}

#fieldset{
    position: absolute;
    padding-right: 14%;
    padding-bottom: 5%;
    margin-top: -8%;
    margin-left: 1138px;
    background-color: white;
}