table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 13%;
    margin-left: 24%;
    position: absolute;
    border-radius: 3px;

}

table, th, td {
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

thead,#ligne{
    color: white;
    background-color: rgb(104, 179, 250);
}

th, td {
    padding: 10px;
    text-align: left;
}

h1{
    font-size: 40px;
    box-shadow: 3px 3px 15px black;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0%;
    margin-top: -12%;
    background-color: rgb(104, 179, 250);
    position: absolute;
    color: white;
}

.image4{
    margin-left: 6%;
    margin-top: -1%;
    position: absolute;
    width: 100px;
    height: 100px;
}

.image3{
    margin-left: 3.5%;
    margin-top: -11%;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

tr{
    background-color: white;
}

h2{
    font-size: 40px;
    position: absolute;
    margin-left: 4%;
    margin-top: 7%;
    font-style: oblique;
}
